
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}


/*Responsive general para computadoras*/

.logo{
    height: 70px;
    margin: 20px;
}

#home-container{
    display: flex;
    flex-direction: row;
    background: lightyellow;
}

.col-sm-12 col-md-6{
    text-align: center;
}
.section{
    margin: 0;
    padding: 60px;
}


.select-rooms{
    width: 30%;
}

.categorie-rooms{
    text-align: center;
    margin: 0px;
    padding: 60px;
    width: 30%;
}

#reviewSection{
    background-color: lightyellow;
}

#triviaSection{
    background-color: lightskyblue;
}

#sectionroom1{
    background-color: lightskyblue;
}

#sectionroom2{
    background-color: lightgrey;
}

#sectionroom3{
    background-color: lightpink;
}


.buttonOne, .button-room{
    padding: 10px 20px;
    font-family: 'Arial';
    font-size: 14px;
    background-color: lightcoral;
    border: 0px;
    border-radius: 20px;
    margin: 60px;
}

.buttonOne:hover, .button-room:hover{
    background-color: darkcyan;
    cursor: pointer;
}


.search-bar{
    margin: 40px 0px;
    width: 100%;
    height: 60px;
    background-color: lightcoral;
    align-items: center;
}

.bar-search{
    background-color: lightblue;
    border: 5px;
    border-color: gray;
    border-radius: 5px;
    margin-left: 40px;
    width: 300px;
    padding: 5px;
    font-size: 12px;
}

.icon-search{
    background-color: lightgreen;
    border: 0px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 12px;
}



#home-container, #reviews-container, #rooms-container, #container-results{
    display: none;
}


#footerid{
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    align-items: flex-end;
    height: 60vh;
}

footer {
    display: inline-flex;
    align-content: flex-end
} 




/*Responsive para telefonos grandes y tablets*/

@media screen and (min-width:680px) and (max-width:1024px){


}




/*Responsive para telefonos*/

@media screen and (max-width:680px){

    .containerHome{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .categoria{
        text-align: center;
        margin: 0px;
        padding: 60px;
        height: 100%;
    }
    
    #reviewSection{
        background-color: lightyellow;
    }
    
    #triviaSection{
        background-color: lightskyblue;
    }

}
