*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: aquamarine;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
}


/*Responsive general para computadoras*/




/*Responsive para telefonos grandes y tablets*/

@media screen and (min-width:680px) and (max-width:1024px){


}




/*Responsive para telefonos*/

@media screen and (max-width:680px){


}