
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../Imgs/batman.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


/*Responsive general para computadoras*/

/* home - pantalla elegir sección */

#header-container{
    height: 10%;
}
.logo{
    height: 70px;
    margin: 20px;
}

#home-container{
    display: flex;
    flex-direction: row;
    height: 85%;
    text-align: center;
}

#enter-section1, #enter-section2{
    padding: 20% 10%;
    color: white;
}

#enter-section1{
    background-color: rgba(8, 39, 107, 0.3);
    margin: 0px;
}

#enter-section2{
    background-color:  rgba(8, 39, 107, 0.5);
    margin: 0px;
}

#buttonReviews, #buttonPlay, #buttonRoom1, #buttonRoom2, #buttonRoom3{
    color: aqua;
    margin: 60px 0px;
}

.btns{
    background-color:rgba(9, 45, 143, 0.85);
    border-radius: 10px;
    color: white;
}

.btns:hover, .btns:active{
    background-color: rgba(0, 255, 255, 0.6);
    margin-bottom: 0px;
}




/* pantalla reseñas - descubrir */


        /* barra de busqueda */
.search-bar{
    margin: 40px 0px;
    width: 100%;
    height: 60px;
    background-color :rgba(9, 45, 143, 0.4);
    padding: 15px;
    text-align: center;
}

.bar-search{
    background-color: lightgray;
    color: gray;
    border: 5px;
    border-color: gray;
    border-radius: 5px;
    margin-left: 40px;
    width: 300px;
    padding: 5px;
    font-size: 12px;
}

.icon-search{
    background-color: darkgray;
    border: 0px;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 12px;
}

        /* imprimir resultados - tarjetas */
.movie-container{
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
}

.results{
    display: flex; 
    flex-direction: column;
    flex-flow: wrap;
    justify-content: center;
    margin: 0px;
    width: 100%;
}

.movie-card{
    justify-content: center;
    margin: 30px;
    width: 300px;
}

.movie-img{
    background-color: none;
    height: 450px;
    justify-content: center;
}

.movie-text{
    background-color:  rgba(9, 45, 143, 0.45);
    font-size: 16px;
    justify-content: center;
    padding: 5px;
    text-align: center;
}

.movie-tittle, .movie-year, .movie-review{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.movie-tittle{
    font-size: 18px;
    font-style: bold;
}

.movie-year{
    font-size: 16px;
}

.movie-review{
    font-size: 14px;
}



/* pantalla elegir trivia - elegir sala */

#rooms-container{
    display: flex;
    flex-direction: row;
    height: 100%;
    text-align: center;
}

#room1, #room2, #room3{
    padding: 25% 10%;
    color: white;
}

#room1{
    background-color: rgba(8, 39, 107, 0.3);
    margin: 0px;
}

#room2{
    background-color: rgba(8, 39, 107, 0.5);
    margin: 0px;
}

#room3{
    background-color: rgba(8, 39, 107, 0.7);
    margin: 0px;
}




/* footer */

footer{
    display: flex;
    background-color: aqua;
    position: relative;
} 

#footer-id{
    display: flex;
    align-items: flex-end;
    height: 10%;
    justify-content: center;
    margin-top: unset;
    padding: 10px;
    z-index: 1;
}



#home-container{
    display: block;
}

#reviews-container, #rooms-container, #container-results{
    display: none;
}




/*Responsive para telefonos*/

@media screen and (max-width:680px){

    
    /* home - pantalla elegir sección */
    
    
    #home-container{
        height: 50%;
        text-align: center;
        margin-top: 5%;
    }
    
    #enter-section1, #enter-section2{
        padding: 15%;
    }
    
    
    #buttonReviews, #buttonPlay, #buttonRoom1, #buttonRoom2, #buttonRoom3{
        margin: 40px 0px;
    }    
    
    
     /* pantalla reseñas - descubrir */

        /* barra de busqueda */

.bar-search{
    margin: 0px;
    width: 200px;
}
    

    /* pantalla elegir trivia - elegir sala */
    
    #rooms-container{
        margin-top: 5%;
    }
    
    #room1, #room2, #room3{
        padding: 15% 10%;
    }

}
